@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 0 80px;
    margin: 0 auto;
}

/* Header */

.header {
    padding: 15px 0;
    background: #FFF; 
    color: #222222;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    color: #2A2C1F;
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px 3px 0;
    line-height: 1;
    padding-left: 40px;
}

.logo::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #CF6F49;
    border-radius: 35%;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    column-gap: 40px;
    font-weight: 400;
}

.nav-link {
    color: #2A2C1F;
}

.nav-link:hover {
    color: #CF6F49;
}


.btn-row {
    display: flex;
    column-gap: 15px;
    margin-left: 20px;
}

.find-btn {
    background-color: #CF6F49;
    padding: 10px 20px;
    color: #FFF;
    font-weight: 400;
    border-radius: 5px;
}

.find-btn:hover {
    background-color: #000000;
    transition: 0.5s;
}

.search-btn {
    border: 1px solid #E7E8E3;
    padding: 10px 20px;
    border-radius: 5px;
}

.search-btn:hover {
    color: #CF6F49;
}

.search-btn > img {
    position: relative;
    margin-right: 10px;
}

.btn-row > .search-btn:first-child > img{
    top: 2px;
}

.search-btn:first-child {
    border: none;
}


/* Main */
.main {
    background-color: #f5f5f2;
}

.main-row {
    display: flex;
    justify-content: space-between;
    position: relative; /* Теперь родительский элемент имеет относительное позиционирование */
    overflow: visible; /* Убедитесь, что переполнение видно */
}

.absolute-img {
    width: 720px;
    height: 686px;
    position: absolute; /* Устанавливаем абсолютное позиционирование */
    right: -80px; 
    top: 0; 
}

.content-main-row {
    margin-top: 150px; /* !!!!! */
    position: relative; /* Теперь родительский элемент имеет относительное позиционирование */
    overflow: visible; /* Убедитесь, что переполнение видно */
}

.corner-row:first-child {
    position: absolute;
    left: -90px;
    top: -150px;
}

.corner-row {
    position: absolute;
    right: -200px;
    top: 400px;
}

.before-header-text {
    color: #2A2C1F;
    width: 171px;
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
    background-color: #E7E8E3;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 21px;
}

.header-text {
    width: 550px;
    color: #2A2C1F;
    font-weight: 700;
    font-size: 56px;
    margin-bottom: 30px;
    line-height: 67.2px;
}

.after-header-text {
    width: 516px;
    color: #65665C;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 30px;
}

/* Поле ввода */

.form {
    width: 310px;
    display: flex;
    align-items: center;
    background-color: #FFF;
    
}

.search-icon {
    margin: 0 10px 0 10px;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    height: 39px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
    color: #000000;
}

input::placeholder {
    color: #65665C;
    margin-left: 10px;
}

.search-form {
    width: 460px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

/* */

.social-row {
    display: flex; /* Используем flexbox для выстраивания элементов в строку */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    justify-content: space-between;
}

.social-list {
    display: flex; 
}

.social-item {
    margin-right: 40px;
}

.social-item:last-child {
    margin-right: 0; 
}

.social-link {
    display: flex; 
    align-items: center; 
    color: inherit; /* Устанавливаем цвет текста таким же, как у родительского элемента */
}

.social-link:hover {
    color: #CF6F49;
}

.social-link img {
    margin-right: 5px; 
}

.social-label {
    width: 243px;
    columns: #2A2C1F;
    font-weight: 400;
    font-size: 18px;
}

.HoWork-row {
    margin: 60px 0 150px 0;
}

.center-header {
    font-weight: 700;
    font-size: 48px;
    margin: 150px 0 15px 0;
    color: #2A2C1F;
    text-align: center;
}

.center-text {
    color: #65665C;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 60px;
    text-align: center;
}

/* */
.stage-card-row {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 100px;
}

.stage-card {
    border: 2px solid #E7E8E3;
    border-radius: 5px;
    text-align: center;
}

.stage-card-header {
    font-weight: 700;
    font-size: 24PX;
    color: #2A2C1F;
    margin-bottom: 15px;
}

.stage-card:first-child > .stage-card-text{
    line-height: 24px;
    width: 338px;
}

.stage-card-text {
    line-height: 24px;
    width: 320px;
    color: #65665C;
    margin: 0px 50px 50px;
}

.stage-card > img {
    margin: 40px 0;
}

.expand {
    position: relative;
    top: 7px;
    margin-left: 5px;
}


/* */
.advantage-row {
    display: flex;
    justify-content: space-between;
}

.content-advantage-row {
    margin-top: 150px;
    
}

.Advantages > .container > .advantage-row {
    margin-bottom: 100px;
}

.Advantages > .container > .advantage-row:last-child > .content-advantage-row {
    margin-top: 0;
    margin-right: 150px;
}

.Advantages > .container > .advantage-row:last-child > .content-advantage-row {
    margin-top: 50px;
    margin-right: 130px;
}

.content-advantage-row > .nav-item {
    margin-left: 15px;
}

.adwan-card-row {
    display: flex;
    column-gap: 30px;
}

.adwan-card-header {
    font-weight: 700;
    font-size: 20px;
    color: #2A2C1F;
    line-height: 28px;
    margin: 20px 0;
}

.adwan-card {
    margin-bottom: 30px;
}

.adwan-card-text {
    width: 260px;
    font-weight: 400;
    font-size: 16px;
    color: #65665C;
    line-height: 24px;
}

/* */

.Houses {
    background-color: #f5f5f2;
}

.houses-row {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.houses-card-row {
    margin-top: 30px;
}

.before-center-text {
    background-color: #E7E8E3; 
    padding: 5px 15px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 150px; 
    border-radius: 15px;
}


.houses-row > .center-header {
    margin: 30px 0 50px 0;
}


.houses-card-row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.houses-card {
    text-align: start;
}

.houses-card-header {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
}

.houses-card-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.houses-card-place {
    margin: 10px 0;
    font-weight: 400;
}

.houses-card-place::before {
    margin-right: 10px;
    content: url(/img/place.png);
}

.houses-card-content {
    margin-left: 20px;
}

.houses-card {
    background-color: #FFF;
    border-radius: 15px;
}

.houses-button {
    margin: 70px 0 150px 0;
}

.houses-button > .search-btn {
    background-color: #FFF;
}

.houses-button > .nav-item > .nav-link {
    margin-left: 20px;
}

.card-setting {
    display: flex;
    column-gap: 50px;
    margin: 20px 15px 20px 25px;
}

.setting-text {
    position: relative;
    font-size: 16px;
    color: #65665C;
}

.setting-text::before {
    position: absolute;
    content: url(img/bathtub.png);
    right: 20px;
    top: 1px;
}

.setting-text:nth-child(2):before {
    position: absolute;
    content: url(img/bed.png);
    right: 20px;
    top: -1px;
}

.setting-text:last-child:before {
    position: absolute;
    content: url(img/square_foot@3x.png);
    right: 65px;
}